package dtos

import "github.com/gofastadev/gofasta/pkg/types"

type TPaginationInputDto = types.TPaginationInputDto
type TSortingInputDto = types.TSortingInputDto
type TPaginationObjectDto = types.TPaginationObjectDto
type TCommonAPIErrorDto = types.TCommonAPIErrorDto
type TCommonResponseDto = types.TCommonResponseDto
type SortOrientation = types.SortOrientation

const (
	SortOrientationAsc  = types.SortOrientationAsc
	SortOrientationDesc = types.SortOrientationDesc
)
